@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
/* body + header + container structure */
header{
    background-color: white;
    height: 100px;
}
body{
    background-color: lightgrey;
}
.containerbutton{
    width: 50%;
    background-color: white;
    margin: 20px auto 0px ;
    border-radius: 5px 5px 0px 0px;
}
.containerelenchi{
    width: 50%;
    background-color: white;
    margin: -15px auto 0px;
}


/* header css/ logo */
#logo{
    height: 80px;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 10px;
    
}
.logo-text{
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    vertical-align: middle;
}
/* fine css/logo */

/* button layout */
.task{
      background-color: deepskyblue;
      border-radius: 5px;
      height: 50px;
      width: 100px;
      font-size: 20px;
      color: white;
      border:none;
      vertical-align: middle;
      margin: 20px 3px 20px 60px;
      text-align: center;
      cursor: pointer;
}
.section{
    background-color: white;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: lightgrey;
    border: 2px solid #e7e7e7;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
/* fine layout button */

/* inizio elenchi  */
.elenchi{
  padding-left: 90px;
 
}
.titoloelenco{
    font-size: 30px;
    font-weight: 800;
}
li{
    font-size: 30px;
    font-weight: 400;
}
ul{
    list-style: none;
}
ul li.titoloelenco::before{
    content: "\25bc";
}
.true::before{
    content: "\2713";
    color:green;
    border: 1px solid green;
    border-radius: 50px;

}
.false::before{
    content: "\2717";
    color: red;
    border: 1px solid red;
    border-radius: 50px;
}
.editorial{
    border-radius: 20px;
    background-color: grey;
    text-align: center;
    
}
.editorial{
    background-color: deepskyblue;
  
}
.goals{
    background-color: purple;
  
}
.recruiting{
    background-color: green;
  
}

.mobile{
    background-color:orange;
  
}
.website{
    background-color: tomato;
   
}
.sales{
    background-color:greenyellow;
   
}
button{
    border-radius: 20px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    color: white;
    border:none;
    vertical-align: middle;
    text-align: center;
}
/* fine elenchi */

